PROJECT=my_project
PROJECT_HOST=${PROJECT}.local

PHP_MYADMIN_HOST=pma.${PROJECT_HOST}

# DB CONFIG
DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_NAME=db-${PROJECT}
DB_USER=user
DB_PASS=pass
DB_ROOT_PASS=rootpass
